/* In this file you can add your custom styles. */

.edit-invisible {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "Questrial";
    src: url("/assets/fonts/Questrial-Regular.woff2") format("woff2"),
        url("/assets/fonts/Questrial-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Hacked";
    src: url("/assets/fonts/HACKED.woff2") format("woff2"),
        url("/assets/fonts/HACKED.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Questrial", Arial, Helvetica, sans-serif;
    color: white;
    background-color: #222326;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    padding: 1rem;
    margin-top: 5rem;
    min-height: 80vh;
}
.glow {
    font-size: 3rem;
    font-size: 3rem;
    font-family: "Hacked", "Questrial", Arial, Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 2px;
    /* text-shadow: 0 0 20px rgb(31, 28, 28), 0 0 9px #32c373, 0 0 7px #39e600,
        0 0 0px #315038, 0 0 20px #00e63c, 0 0 10px #00e612; */
}

h1 {
    margin-bottom: 10px;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/**** LIST OF ARTICLES  ****/

.new-btn {
    margin-right: 2rem;
}
.content-list,
.own-submissions {
    margin-top: 2rem;
}
.content-list ol,
.own-submissions ul {
    padding: 1rem;
}
.subtext {
    /* display: flex; */
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: lightgray;
}
.subtext a {
    color: lightgray;
}

.subtext #edit-post {
    margin-left: 10px;
}
.subtext #delete-post {
    color: rgb(226, 125, 84);
    margin-left: 15px;
}

/* .post-headline {
    display: flex;
    align-items: center;
}

.post-headline p {
    font-size: 15px;
    color: lightgray;
    margin-left: 10px;
} */

.active {
    text-decoration: underline;
    font-weight: bold;
}

/*** FORM  ***/
form {
    margin-bottom: 1rem;
}
form div {
    display: flex;
    flex-direction: column;
}

form button {
    color: lightseagreen;
    margin-top: 5px;
}

#log-in-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-account-text {
    font-size: 14px;
}
.create-account-text a {
    color: lightseagreen;
}
label {
    margin-top: 10px;
}

input {
    height: 30px;
}

.delete-post a {
    color: rgb(226, 125, 84);
}

.post-info p {
    color: lightgray;
}

.poster {
}

.post-info h3 {
    margin-bottom: 10px;
}
.post-info {
    margin-top: 10px;
}
/* PROFILE  */
.user-info {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.user-info-text {
    margin-left: 3rem;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.user-info p {
    color: lightgray;
    font-style: italic;
}
/* LIST OF OWN SUBMISSIONS  */

.own-submissions li {
    font-size: 20px;
}
.own-submissions li p {
    font-size: 16px;
    color: lightgray;
}

.own-submissions .subtext {
    color: lightgray;
}

/* MESSAGES  */

.alert.alert-success {
    color: rgb(179, 231, 179);
}

.alert.alert-danger {
    color: rgb(226, 125, 84);
}

.alert {
    margin-bottom: 20px;
}

footer {
    height: 80px;
    background-color: black;
    width: 100%;
}
