@media screen and (min-width: 700px) {
    input,
    textarea {
        width: 50%;
    }

    nav {
        justify-content: flex-start;
    }
    .menu-list {
        display: flex;
        height: unset;
        position: unset;
        background-color: #525057;
        width: unset;
    }

    .menu-list ul {
        display: flex;
        flex-direction: row;
        margin-top: unset;
    }

    nav ul li {
        margin: 20px;
    }
    .menu-btn,
    .close-btn {
        display: none;
    }

    .poster {
        display: flex;
        flex-direction: column;
    }

    /* .dropdown:hover .dropdown-content {
        display: flex;
        align-items: center;
    }

    .dropdown:hover a:first-child {
        background-color: #7b7a81;
    } */
}
