@keyframes smooth {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #525057;
}

.menu-list {
  display: none;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #7b7a81;
  width: 50%;
  justify-content: center;
  z-index: -1;
}

.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 15px;
  margin-right: 20px;
}

nav ul {
  padding: 0;
  margin-top: 2.5rem;
}

nav button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menu-btn {
  width: 25px;
  height: 25px;
  margin: 10px;
  margin-right: 20px;
  display: block;
}

nav ul li {
  margin: 35px;
  list-style: none;
}

.navbar-brand {
  margin: 20px;
}
