@media screen and (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
  }
  .container {
    width: 50%;
    padding-top: 7rem;
    margin-top: unset;
    background-color: #222326;
    min-height: 90vh;
    margin-left: 10rem;
  }
  input,
  textarea {
    width: 100%;
  }

  input#image.form-control {
  }

  nav {
    justify-content: flex-start;
  }
  .menu-list {
    display: flex;
    height: unset;
    position: unset;
    background-color: #525057;
    width: unset;
  }

  .menu-list ul {
    display: flex;
    flex-direction: row;
    margin-top: unset;
  }

  nav ul li {
    margin: 20px;
  }
  .menu-btn,
  .close-btn {
    display: none;
  }

  .poster {
    display: flex;
    flex-direction: column;
  }

  .comment-form-hidden {
    position: relative;
  }
  .edit-comment-save {
    position: absolute;
    right: 0;
    padding-right: 10px;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .list-item-title {
    font-size: 1.1rem;
  }

  a:hover,
  form button:hover {
    text-decoration: underline;
  }
}
